body{
    background-color: #fdfdfd;
}

.photo-container{
    width: 50%;
    margin: auto;
    display: block;

}

img { 
    margin: auto;
    display: block;
    width: 80%;
}
.photo-container img{
    border-radius: 15%;
    opacity: .925
}

.idCNTNR{
    margin-bottom: 2%;
}
.text{
    padding: 0% 15%;
}
